.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.spinner-modal {
  min-width: 50vw;
}

.spinner-number {
  border-style: none;
  border-radius: 10px;
}

.spinner-button {
  height: 30px;
}
